<div
  class="flex rounded justify-between items-center border-black border p-0 hover:text-gray-400 hover:border-gray-300 hover:cursor-pointer"
>
  <button class="flex flex-col p-4 w-full" (click)="openLink()">
    <div class="flex items-center mb-2">
      <mat-icon fontIcon="schedule" class="text-gray-500 mr-2"></mat-icon>
      <span class="text-xs text-gray-500"> {{ hit.created_at | dateAgo }} by {{ hit.author }}</span>
    </div>
    <span>{{ hit.story_title }}</span>
  </button>
  <div class="flex justify-center items-center bg-gray-100 h-full p-6">
    <button mat-icon-button color="warn" class="h-full" (click)="addOrRemoveFavorite()">
      <mat-icon aria-hidden="false" class="text-2xl">{{ icon }}</mat-icon>
    </button>
  </div>
</div>
